<div class="site-color center">
  <h2 class="title">World's Greatest Ideas</h2>

  <div class="container col m4 well" id="new-idea">

    <label class=""><h5>Create an Idea</h5></label>
      <%= form_for :idea, url: "" do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, id: "new-title" %>
      <%= f.label :body %>
      <%= f.text_field :body, id: "new-body" %>
      <%= f.submit "Save", method: :post %>
    <% end %>
    <br>
  </div>
  <div class="container" id="ideas-list">
    <h5>My Ideas</h5>
    <% @ideas.each_with_index do |idea, index| %>
      <%= index + 1 %>. <%= idea.title %>
      <%= idea.body %>
      <%= idea.quality %>
    <% end %>
  </div>
</div>
