<div class="site-color center">
  <h2 class="title">World's Greatest Ideas</h2>

  <div class="container col m4 well" >
    <label class=""><h5>Create an Idea</h5></label>
    <%= form_tag(api_v1_ideas_path) do %>
    <%= label_tag :title %>
    <%= text_field_tag :newTitle %>
    <%= label_tag :body %>
    <%= text_field_tag :newBody %>
    <button type="button" id="newIdea">Save</button>
    <% end %>
    <br>
  </div>
  <h5>My Ideas</h5>
  <div class="container" id="ideas-list">
    <% @ideas.each do |idea| %><br>
    <div id="<%= idea.id %>">
      <%= idea.title %><br>
      <%= idea.body %><br>
      <a href="#" id="removeIdea <%= idea.id %>" >Delete</a>
      <a href="#" class="editIdeaLink" id="updateIdea <%= idea.id %>" >Edit</a>
    </div>
    <br>
    <% end %>
    <br>
  </div>
</div>
